<!-- Start Header -->
<header class="header ">
    <div class="header__content d-flex justify-content-between ">
        <div id="header__title">
            <a routerLink="/home">
                <img src="assets/images/logo.png" alt="">
            </a>
        </div>
        <div class="header_nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link">Lịch Chiếu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Cụm Rạp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Tin Tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dang-nhap">Đăng
                        Nhập</a>
                </li>
             
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dang-ky" style="margin-left: -22px"> Đăng
                        Ký</a>
                </li>
            </ul>
        </div>
    </div>



</header>


<!-- End Header -->