.phim__content{
    height: 500px;
    ul{
        border: none;
        li{
            a{
                border: none;
            }
            a:hover{
                border: none;
            }
        }
    }
}