<section class="cumRap">
    <div class="cumRap__content">
        <h1>Cụm Rạp</h1>
        <div class="row cumRap_row">
            <div class="col-sm-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item" *ngFor="let item of danhSachRap">
                        <button (click)="layChiTietRap(item)" >
                            <img [src]="item.logo" alt="" style="width:100px">
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div *ngFor="let item of cumRap ">
                    <button (click)="layPhimCuaRap(item)">
                        <span>{{item.tenCumRap}}</span>
                        <span>{{item.diaChi}}</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-6 cumRap_detailMovie">
                <div *ngFor="let item of danhSachPhim">
                    <img [src]=" item.hinhAnh">
                    <p>IMDb : {{item.danhGia}}</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>